app/src/main/Assets/aurin-datasource-SA_Govt_RenewalSA-UA_WISeR_renewalsa_age_household_ref_person_2011.xml

<xsd:schema xmlns:aurin="http://www.aurin.org.au" xmlns:gml="http://www.opengis.net/gml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.aurin.org.au">
<xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://oa-2-computing:8081/geoserver/schemas/gml/3.1.1/base/gml.xsd"/>
<xsd:complexType name="datasource-SA_Govt_RenewalSA-UA_WISeR_renewalsa_age_household_ref_person_2011Type">
<xsd:complexContent>
<xsd:extension base="gml:AbstractFeatureType">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="objectid" nillable="true" type="xsd:int"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ogr_geometry" nillable="true" type="gml:GeometryPropertyType"/>
<xsd:element maxOccurs="1" minOccurs="0" name="state_code" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="lga_code" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="lga_name" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="lga_name_1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="age_15_29_years" nillable="true" type="xsd:double"/>
<xsd:element maxOccurs="1" minOccurs="0" name="age_30_44_years" nillable="true" type="xsd:double"/>
<xsd:element maxOccurs="1" minOccurs="0" name="age_45_59_years" nillable="true" type="xsd:double"/>
<xsd:element maxOccurs="1" minOccurs="0" name="age_60_74_years" nillable="true" type="xsd:double"/>
<xsd:element maxOccurs="1" minOccurs="0" name="age_75_and_over" nillable="true" type="xsd:double"/>
<xsd:element maxOccurs="1" minOccurs="0" name="age_no_matches" nillable="true" type="xsd:double"/>
<xsd:element maxOccurs="1" minOccurs="0" name="shape_length" nillable="true" type="xsd:double"/>
<xsd:element maxOccurs="1" minOccurs="0" name="shape_area" nillable="true" type="xsd:double"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="datasource-SA_Govt_RenewalSA-UA_WISeR_renewalsa_age_household_ref_person_2011" substitutionGroup="gml:_Feature" type="aurin:datasource-SA_Govt_RenewalSA-UA_WISeR_renewalsa_age_household_ref_person_2011Type"/>
</xsd:schema>